    <div id="footer-wrapper">
      <section id="footer" class="container">
        <div class="row">
          <div class="4u 12u(mobile)">
            <section>
              <header>
                <h2>nodebr.org</h2>
              </header>
              <ul class="divided">
                <li><a href="<%- url_for('/') %>">Início</a></li>
                <li><a href="<%- url_for('/podcast.html') %>">Podcast</a></li>
              </ul>
            </section>
          </div>
            <div class="4u 12u(mobile)">
              <section>
                <header>
                  <h2>Outros links</h2>
                </header>
                <ul class="divided">
                <li><a href="https://nodejs.org">Site Oficial Node.js</a></li>
                  <li><a href="https://braziljs.org">BrazilJS</a></li>
                </ul>
              </section>
            </div>
          <div class="4u 12u(mobile)">
            <section>
              <header>
                <h2>Participe da comunidade</h2>
              </header>
              <p>
                Este site e todos as iniciativas da comunidade estão disponíveis no <a href="https://github.com/nodebr">GitHub</a>. Navegue pelos projetos, fork-os e mande-nos sua Pull Request. Toda contribuição é bem vinda.
              </p>
              <ul class="social">
                <li><a class="icon fa-github" href="https://github.com/nodebr"><span class="label">GitHub</span></a></li>
                <li><a class="icon fa-twitter" href="https://twitter.com/nodebr"><span class="label">Twitter</span></a></li>
                <li><a class="icon fa-slack" href="https://slack.nodebr.org"><span class="label">Slack</span></a></li>
              </ul>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="12u">

            <!-- Copyright -->
              <div id="copyright">
                <ul class="links">
                  <li>&copy; <%= theme.title %>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
              </div>

          </div>
        </div>
      </section>
    </div>
  </div>
  <%- js('js/jquery.min.js') %>
  <%- js('js/jquery.dropotron.min.js') %>
  <%- js('js/skel.min.js') %>
  <%- js('js/skel-viewport.min.js') %>
  <%- js('js/util.js') %>
  <%- js('js/main.js') %>
</body>
</html>